<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Tea Driven Design: {{ page.title }}</title>
		<link rel="stylesheet" href="/styles/styles.css">
		<link rel="stylesheet" href="/styles/pygment_trac.css">
		<link rel="icon" href="/images/favicon.ico" />
	</head>
	
	<body>
		<header>
			<a id="title" href="/"><img src="/images/tdd-full.png" title="Tea Driven Design" /></a>
			<div id="links">
				<a href="http://github.com/parnham">Github</a>
			</div>
		</header>

		<section>
			{{ content }}
		</section>
		
		<footer>
			Site contents are copyright © 2012 Dan Parnham
		</footer>
	</body>
</html>
