body
{
	font-family: "Georgia", serif;
	margin: 0;
	padding: 0;
}

img { border: 0; }
a	{ text-decoration: none; color: #282; }

header
{
	position: relative;
	margin: 0;
	height: 96px;
	background-color: #ddf;
	box-shadow: 2px 2px 2px #888;
}

#title
{
	margin-left: 16px;
}

#links
{
	position: absolute;
	right: 16px;
	bottom: 4px;
	font-size: 0.8em;
}

footer
{
	font-size: 0.7em;
	text-align: center;
	color: #888;
}

section
{
	margin: 48px 20%;
	text-align: justify;
}

code 
{
  font-family: "Courier New", "Lucida Console", monospace;
  color: #efefef;
  tab-size: 4;
  font-size: 10pt;
}

pre 
{
  padding: 8px 16px;
  background: #191919;
  border-radius: 4px;
  overflow: auto;
  overflow-y: hidden;
}

.post
{
	margin: 0 16px;
	padding: 4px 16px;
}

h1, h2, h3
{
	margin-top: 24px;
	margin-bottom: 4px;
}

.date
{
	color: #888;
}

.centre
{
	text-align: center;
}